/* ========== Day ========== */
/* ========================= */
.rota-day {
  position: relative;
  height: 20%;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

.day-title {
  padding: 0.1em;
  max-height: 20%;
  min-height: 18px;
}

.bottom-border {
  border-bottom: 1px solid lightgrey;
}

.half-day-wrapper {
  height: 80%;
}


/* ======== End Day ======== */
/* ========================= */

/* ======== HalfDay ======== */
/* ========================= */

.period {
  height: 50%;
  position: relative;
}

.period-header {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 0.7em;
  font-weight: bold;
}

.AM {
  color: orange;
}

.PM {
  color: purple;
}

.period-allocation {
  margin-top: 1em;
}

/* ====== End HalfDay ====== */
/* ========================= */
